In [4]:
using CSV
df = CSV.read("rejected_2007_to_2018Q4.csv")
size(df)

(27648741, 9)

In [5]:
for i in names(df)
    println(i)
end

Amount Requested
Application Date
Loan Title
Risk_Score
Debt-To-Income Ratio
Zip Code
State
Employment Length
Policy Code

In [7]:
first(df, 5)

5×9 DataFrames.DataFrame. Omitted printing of 6 columns
│ Row │ Amount Requested │ Application Date │ Loan Title                       │
│     │ Float64          │ Dates.Date       │ Union{Missing, String}           │
├─────┼──────────────────┼──────────────────┼──────────────────────────────────┤
│ 1   │ 1000.0           │ 2007-05-26       │ Wedding Covered but No Honeymoon │
│ 2   │ 1000.0           │ 2007-05-26       │ Consolidating Debt               │
│ 3   │ 11000.0          │ 2007-05-27       │ Want to consolidate my debt      │
│ 4   │ 6000.0           │ 2007-05-27       │ waksman                          │
│ 5   │ 1500.0           │ 2007-05-27       │ mdrigo                           │